<% provide :title, t("static_pages.contact.title") %>
<h1><%= t "static_pages.contact.contact" %></h1>
<p>
  <%= t "static_pages.contact.sentences1" %>
  <%= link_to t("static_pages.contact.link1"), "http://www.railstutorial.org/contact" %>
</p>
