<% provide :title, t("static_pages.home.title") %>
<h1><%= t "static_pages.home.sample_app" %></h1>
<p>
  <%= t "static_pages.home.home_page" %>
  <%= link_to t("static_pages.home.link1"), "http://www.railstutorial.org/" %>
  <%= t "static_pages.home.sample_application" %>
</p>
