<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layout.header.sample_app"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layout.hedare.home"), root_path %></li>
        <li><%= link_to t("layout.hedare.help"), help_path %></li>
        <li><%= link_to t("layout.hedare.log_in"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
